{{extend 'layout.html'}}

<div class="row">
	<div class="span8">
		<h3>{{=playlist_info[0][2]}}</h3>
		<h4>Description</h4>
		<blockquote>
			{{if playlist_info[0][3]:}}
				<p>{{=playlist_info[0][3]}}</p>
			{{else:}}
				<p class="muted">No description available</p>
			{{pass}}
		</blockquote>
		<h4>Export</h4>
			<a href={{=URL('export', vars=dict(id=playlist_info[0][0]))}} target="_blank">
				<button class="btn btn-info" type="button">Export as CSV</button>
			</a>
		<h4>Tracks</h4>
		<table class="table table-striped table-bordered">
			<thead>
				<tr>
					<th>Name</th>
					{{if auth.user and auth.user.id == playlist_info[0][1]:}}
						<th>Remove from Playlist</th>
					{{pass}}
				</tr>
			</thead>
			<tbody>
				{{for row in recordings:}}
					<tr>
						<td>{{=row[2]}}</td>
						{{if auth.user and auth.user.id == playlist_info[0][1]:}}
							<td playlistid = {{=row[0]}} trackid = {{=row[1]}}>
								<i class="icon-remove"></i>
							</td>
						{{pass}}
					</tr>
				{{pass}}
			</tbody>
		</table>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(
		function() {
			$('.icon-remove').hide();
		}
	);
	$(document).ready(
		function() {
			$("td").hover(
				function() {
					var element = $('.icon-remove', $(this));
					if (element.length > 0)
						element.show();
				},
				function() {
					var element = $('.icon-remove', $(this));
					if (element.length > 0)
						element.hide()
				}
			);
		}
	);
	$(document).ready(
		function() {
			$("td").click(
				function() {
					var element = $('.icon-remove', $(this));
					if (element.length > 0) {
						var playlist_id = $(this).attr('playlistid');
						var track_id = $(this).attr('trackid');
						$(this).html("<img src={{=URL('static','images/loading.gif')}} class='loading'>");
						var container = $(this).parent();
						console.log(track_id + " " + playlist_id)
						var request = $.ajax({
							type: "POST", 
							url: "delete_track_from_playlist", 
							data: {pid: playlist_id, tid: track_id}
						});
						request.done(function(msg) {
							container.slideUp('slow', function() {$(this).remove();});
						});
						request.fail(function(jqXHR, textStatus) {
							alert( "Request failed: " + textStatus );
						});
					}
				}
			);
		}
	);
</script>